@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vkys9z");
  src: url("../fonts/icomoon.eot?vkys9z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vkys9z") format("truetype"), url("../fonts/icomoon.woff?vkys9z") format("woff"), url("../fonts/icomoon.svg?vkys9z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  margin: 10% 0;
  color: #365164; }
  .icon-hide {
    opacity: .3; }
  .icon-github:before {
    content: "\e903"; }
  .icon-linkedin:before {
    content: "\e905"; }
  .icon-smartphone:before {
    content: "\e900"; }
  .icon-download:before {
    content: "\e901"; }
  .icon-menu:before {
    content: "\e902"; }
  .icon-cross:before {
    content: "\e904"; }
  .icon-chevron-down:before {
    content: "\e906"; }
  .icon-chevron-left:before {
    content: "\e907"; }
  .icon-chevron-right:before {
    content: "\e908"; }
  .icon-chevron-up:before {
    content: "\e909"; }
  .icon-arrow-down:before {
    content: "\e90a"; }
  .icon-arrow-left:before {
    content: "\e90b"; }
  .icon-arrow-right:before {
    content: "\e90c"; }
  .icon-arrow-up:before {
    content: "\e90d"; }
  .icon-mail:before {
    content: "\e90e"; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
/* animation sets */
.page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both; }

.page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; }

.page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both; }

.page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both; }

/* move to with different  easing */
.page-moveToLeftEasing {
  -webkit-animation: moveToLeft .7s ease-in-out both;
  animation: moveToLeft .7s ease-in-out both; }

.page-moveToRightEasing {
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both; }

.page-moveToTopEasing {
  -webkit-animation: moveToTop .7s ease-in-out both;
  animation: moveToTop .7s ease-in-out both; }

.page-moveToBottomEasing {
  -webkit-animation: moveToBottom .7s ease-in-out both;
  animation: moveToBottom .7s ease-in-out both; }

/* keyframes */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }
@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%); } }
@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%); } }
@keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
/* Format */
ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* customize */
html, body, .root, .wrapper {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }

body {
  background: #0d0d0d;
  color: #e0dcdd;
  font-family: "Raleway", sans-serif;
  font-size: 15px; }

.row,
.container {
  box-sizing: border-box; }

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px; }

.container {
  background: #0d0d0d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .container--loader {
    background: #fff;
    color: #9b969c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center; }
    .container--loader .btn a {
      border-bottom: 2px solid #e0dcdd;
      padding-bottom: 10px; }
      .container--loader .btn a:hover {
        border-bottom-color: #5a87a6; }
  .container .row {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .container--project {
    display: flex;
    align-items: center; }
  .container--contact a {
    color: #e0dcdd;
    text-decoration: none; }
  .container--modal__info {
    height: 70%;
    position: relative;
    /*text-align: justify;*/ }
    .container--modal__info [class*='icon-'] {
      font-size: 2rem;
      color: #365164;
      font-weight: 600;
      cursor: pointer;
      position: absolute; }
    .container--modal__info .icon-chevron-left {
      left: 5%; }
    .container--modal__info .icon-chevron-right {
      right: 5%; }
    .container--modal__info .modal-title {
      font-size: 3rem;
      text-transform: uppercase; }
    .container--modal__info .info-project {
      display: none; }
  .container--mockup {
    position: relative;
    width: 350px;
    height: 605px; }
    .container--mockup img.mockup-cellphone {
      width: 100%;
      height: 100%; }
  .container--iframe {
    background-color: #fff;
    position: absolute;
    top: 65px;
    left: 43px;
    width: 265px;
    height: 470px;
    -webkit-overflow-scrolling: touch; }
    .container--iframe iframe {
      border: 0;
      width: 100%;
      height: 100%;
      touch-action: manipulation; }

.show-page {
  visibility: visible;
  z-index: 1; }

.hide-fixed {
  display: none; }

.icon-back {
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%; }

.page-ontop {
  z-index: 9999; }

.navegadores {
  position: fixed;
  z-index: 9999;
  bottom: 3%;
  right: 5%; }
  .navegadores .icon {
    font-size: 2.3rem;
    font-weight: 600; }

.main-logo {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 40px; }
  .main-logo img {
    cursor: pointer;
    width: 100%; }

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 3rem;
  line-height: 1;
  color: #686369;
  display: inline-block;
  /* title */ }
  .link--title {
    text-transform: uppercase;
    font-weight: 800;
    color: #686369;
    -webkit-transition: color 0.5s 0.25s;
    transition: color 0.5s 0.25s;
    overflow: hidden; }
    .link--title:hover {
      -webkit-transition: none;
      transition: none;
      color: transparent; }
    .link--title::before {
      content: '';
      width: 100%;
      height: 6px;
      margin: -3px 0 0 0;
      background: #e0dcdd;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    .link--title:hover::before {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); }
    .link--title span {
      position: absolute;
      height: 50%;
      width: 100%;
      left: 0;
      top: 0;
      overflow: hidden; }
      .link--title span::before {
        content: attr(data-letters);
        color: #365164;
        position: absolute;
        left: 0;
        width: 100%;
        color: #365164;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s; }
      .link--title span:nth-child(2) {
        top: 50%; }
      .link--title span:first-child::before {
        top: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); }
      .link--title span:nth-child(2)::before {
        bottom: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0); }
    .link--title:hover span::before {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

/* Button language */
.btn a {
  position: relative;
  display: inline-block;
  margin: 15px 40px;
  outline: none;
  color: #F4BD44;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.2rem; }
  .btn a:hover, .btn a:focus {
    outline: none; }
  .btn a {
    color: rgba(244, 189, 68, 0.8);
    font-weight: 700;
    text-shadow: none; }
  .btn a::before {
    color: #9b969c;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  .btn a:hover::before, .btn a:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0; }

.btn {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

div[class*='col-'] {
  box-sizing: border-box; }

.img-responsive {
  width: 100%;
  height: auto; }

.title {
  color: #cdcbce;
  font-size: 3rem;
  text-transform: uppercase;
  overflow-wrap: break-word;
  text-align: right; }

hr {
  width: 100%;
  height: 7px;
  background-color: #686369;
  border: 0; }

.text {
  font-size: 1rem;
  line-height: 1.3;
  margin: 5% 0;
  /*text-align: justify;*/ }

.curriculum {
  border: 3px solid #686369;
  padding: 1% 4%;
  font-weight: 700;
  text-align: right; }

.projects {
  margin-bottom: 30%; }

.logo-proyecto {
  border: 10px solid;
  height: 400px;
  padding: 0 13% 90% 7%;
  display: flex;
  align-items: center; }
  .logo-proyecto.pinterest-border {
    border-color: #bd081b; }
  .logo-proyecto.yape-border {
    border-color: #00B19F; }
    .logo-proyecto.yape-border img {
      margin: 0 auto 0 35%;
      height: 70px;
      width: auto; }
  .logo-proyecto.pokedex-border {
    border-color: #ee4037; }
  .logo-proyecto.yummy-border {
    border-color: #f4bd46;
    padding-left: 15%; }

.text-proyecto {
  position: absolute;
  height: 250px;
  padding: 0 5%;
  top: 30%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .text-proyecto a {
    text-decoration: none; }
    .text-proyecto a.pinterest-color {
      color: #bd081b; }
    .text-proyecto a.yape-color {
      color: #00B19F; }
    .text-proyecto a.pokedex-color {
      color: #ee4037; }
    .text-proyecto a.yummy-color {
      color: #f4bd46; }

.container--contact .text {
  font-size: 1rem; }
  .container--contact .text a:hover, .container--contact .text .contact-icon:hover {
    color: #F4BD44; }

.contact-icon {
  margin-right: 20px;
  color: #686369; }
  .contact-icon:hover {
    color: #F4BD44; }

footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  justify-content: center; }
  footer a {
    text-decoration: none; }
  footer .laboratoria {
    color: #F4BD44; }
  footer .developer {
    color: #365164; }
  footer p {
    width: 55%;
    font-size: 0.8rem;
    margin-bottom: 10%; }

.english {
  background-color: #fff;
  color: #686369; }
  .english .container--contact .text a {
    color: #686369; }
  .english .text-proyecto {
    background: #fff; }
  .english .title {
    color: #365164; }

@media (min-width: 1200px) {
  .link {
    font-size: 6rem; }

  .container--loader {
    font-size: 2rem; }
  .container .row {
    flex-direction: row; }
  .container--contact .text {
    font-size: 1.8rem; }

  .main-logo {
    top: 5%;
    left: 2%; }

  .projects {
    margin-bottom: inherit; }

  .logo-proyecto {
    height: 550px;
    padding: 0 13% 0 7%; }
    .logo-proyecto.yape-border img {
      margin: 0 auto 0 30%;
      height: 150px; }

  .text-proyecto {
    background-color: #0d0d0d;
    border: 5px solid #686369;
    height: 400px;
    top: 13%;
    font-size: 1.3rem; }

  .navegadores {
    bottom: 5%;
    right: 3%; }

  .title {
    font-size: 7rem; }

  .text {
    font-size: 1.2rem; }

  footer p {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
