@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?fpuyq3');
  src: url('../fonts/icomoon.eot?fpuyq3#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?fpuyq3') format('truetype'),
  url('../fonts/icomoon.woff?fpuyq3') format('woff'),
  url('../fonts/icomoon.svg?fpuyq3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  margin: 10% 0;
  color: #365164;
  &-hide {
    opacity: .3;
  }
  &-down-arrow:before {
    content: "\e900";
  }
  &-up-arrow:before {
    content: "\e901";
  }
}
