@import "icon";
@import "grid";
@import "translation";
//Fuente Tipográfica
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

//clean
/* Format */
ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* customize */

$raleway: 'Raleway', sans-serif;
$font-size: 15px;

//Colores Marca
$darken-grey: #0d0d0d;
$grey: #686369;
$lighten-grey: #e0dcdd;
$darken-blue: #365164;
$yellow: #F4BD44;
$white: #fff;

//Colores Proyecto
$yummy: #f4bd46;
$pinterest: #bd081b;
$pokedex: #ee4037;
$yape: #00B19F;

//Mixin
@mixin img-responsive() {
  width: 100%;
  height: auto;
}

@mixin box-sizing($valor) {
  box-sizing: $valor;
}

@mixin center-block() {
  display: block;
  margin: 0 auto;
}

html, body, .root, .wrapper {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: $darken-grey;
  color: $lighten-grey;
  font-family: $raleway;
  font-size: $font-size;

}

.row,
.container {
  @include box-sizing(border-box);
}

.perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.container {
  background: $darken-grey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &--loader {
    background: $white;
    color: lighten($grey, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
  }
  .row {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &--project {
    display: flex;
    align-items: center;
  }
  &--contact {
    a {
      color: $lighten-grey;
      text-decoration: none;
    }
  }
  &--modal{
      &__info{
        height: 70%;
        .text{
          font-size: 1rem;
          letter-spacing: 0.1rem;
        }
        .modal-title{
          font-size: 2rem;
          &:first-letter{
          text-transform: uppercase;
          }
        }
      }
  }
  &--mockup{
    position: relative;
    width: 350px;
    height: 605px;
    img.mockup-cellphone{
      width: 100%;
      height: 100%;
    }
  }
  &--iframe{
    background-color: $white;
    position: absolute;
    top: 65px;
    left: 43px;
    width: 265px;
    height: 470px;
    -webkit-overflow-scrolling:touch;
    iframe{
      border: 0;
      width: 100%;
      height: 100%;
      touch-action: manipulation;
    }
  };
}

.show-page {
  visibility: visible;
  z-index: 1;
}

//Modal
.hide-fixed{
  display: none;
}
.icon-back{
  position: absolute;
  top: 5%;
  left: 5%;
}
.page-ontop {
  z-index: 9999;
}

//navegadores
.navegadores {
  position: fixed;
  z-index: 9999;
  bottom: 5%;
  right: 3%;
}

.main-logo {
  @include box-sizing(border-box);
  position: absolute;
  top: 5%;
  left: 2%;
  width: 40px;

  img {
    cursor: pointer;
    width: 100%;
  }
}

//Loader
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 6rem;
  line-height: 1;
  color: $grey;
  display: inline-block;

  /* title */
  &--title {
    text-transform: uppercase;
    font-weight: 800;
    color: $grey;
    -webkit-transition: color 0.5s 0.25s;
    transition: color 0.5s 0.25s;
    overflow: hidden;
    &:hover {
      -webkit-transition: none;
      transition: none;
      color: transparent;
    }

    &::before {
      content: '';
      width: 100%;
      height: 6px;
      margin: -3px 0 0 0;
      background: $lighten-grey;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }

    &:hover::before {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    & span {
      position: absolute;
      height: 50%;
      width: 100%;
      left: 0;
      top: 0;
      overflow: hidden;

      &::before {
        content: attr(data-letters);
        color: $darken-blue;
        position: absolute;
        left: 0;
        width: 100%;
        color: $darken-blue;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
      }

      &:nth-child(2) {
        top: 50%;
      }

      &:first-child::before {
        top: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }

      &:nth-child(2)::before {
        bottom: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    }

    &:hover span::before {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}

/* Button language */
.btn a {
  position: relative;
  display: inline-block;
  margin: 15px 40px;
  outline: none;
  color: $yellow;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.2rem;
  &:hover,
  &:focus {
    outline: none;
  }

  & {
    color: rgba($yellow, 0.8);
    font-weight: 700;
    text-shadow: none;
  }

  &::before {
    color: lighten($grey, 20%);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover::before,
  &:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
}

.btn {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div[class*='col-'] {
  @include box-sizing(border-box);
}

.img-responsive {
  @include img-responsive;
}

.title {
  color: lighten($grey, 40%);
  font-size: 7rem;
  text-transform: uppercase;
  overflow-wrap: break-word;
  text-align: right;
}

hr {
  width: 100%;
  height: 7px;
  background-color: $grey;
  border: 0;
}

.text {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 5% 0;
}

.curriculum {
  border: 3px solid $grey;
  padding: 1% 4%;
  font-weight: 700;
  text-align: right;
}

.logo-proyecto {
  border: 10px solid;
  height: 550px;
  padding: 0 13% 0 7%;
  display: flex;
  align-items: center;
  &.pinterest-border {
    border-color: $pinterest;
  }
  &.yape-border {
    border-color: $yape;
    padding: 20%;
    img {
      height: 150px;
      width: auto;
    }
  }
  &.pokedex-border {
    border-color: $pokedex;
  }
  &.yummy-border {
    border-color: $yummy;
    padding-left: 15%;
  }

}

.text-proyecto {
  background-color: #0d0d0d;
  position: absolute;
  border: 5px solid #686369;
  height: 400px;
  padding: 0 5%;
  top: 13%;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;

  a {
    text-decoration: none;
    &.pinterest-color {
      color: $pinterest;
    }
    &.yape-color {
      color: $yape;
    }
    &.pokedex-color {
      color: $pokedex;
    }
    &.yummy-color {
      color: $yummy;
    }
  }
}
.container--contact{
  .text{
    font-size: 1.8rem;
  }
}

.contact-icon {
  margin-right: 20px;
  color: $grey;
  &:hover {
    color: $yellow;
  }
}

footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  a {
    text-decoration: none;
  }
  .laboratoria {
    color: $yellow;
  }
  .developer {
    color: $darken-blue;
  }
}

//Change Color

.english {
  background-color: $white;
  color: $grey;
  .container--contact {
    .text {
      a {
        color: $grey;
      }
    }
  }
  .text-proyecto {
    background: $white;
  }
  .title {
    color: $darken-blue;
  }
}
